admin_token  = "your-admin-token"
ingress_host_name = "your-ingress-host-name"
tls_crt = <<EOT
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
EOT

tls_key = <<EOT
-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
EOT
